<h1>About</h1>
<p>This is one of my side-projects that allows me to store my ideas and evaluate those ideas</p>
<p>I am hoping that people will write down their ideas and share those publicly so we can discuss and build something awesome!</p>